# 服务器配置
NODE_ENV=development
SRV_PORT=3090

# 数据库配置
DB_HOST=your_db_host
DB_PORT=3306
DB_USERNAME=your_db_username
DB_PASSWORD=your_db_password
DB_DATABASE=your_db_name

# JWT 配置
JWT_SECRET=your_jwt_secret

# OSS 配置
OSS_REGION=your_oss_region
OSS_ACCESS_KEY_ID=your_oss_access_key_id
OSS_ACCESS_KEY_SECRET=your_oss_access_key_secret
OSS_BUCKET_NAME=your_oss_bucket_name

# 其他配置
API_ACCESS_TOKEN=your_api_access_token
IOT_ACCESS_KEY_ID=your_iot_access_key_id
IOT_ACCESS_KEY_SECRET=your_iot_access_key_secret
