# 默认忽略的文件
/shelf/
/workspace.xml
# 基于编辑器的 HTTP 客户端请求
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

dist/
deploy_versions/
.temp/
.rn_temp/
node_modules/
.DS_Store
.swc

types/auto-imports.d.ts
types/vue-components.d.ts

.env.local
.env